* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(236, 209, 209);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    background-color: #292935;
}

.nav-cont {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    width: 100%;
    height: 10vh;
}

.logo p {
    font-size: 14px;
}

.burger {
    width: 30px;
    height: 100px;
    cursor: pointer;
}

.layer-1, .layer-2{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: rgb(236, 209, 209);
    margin: .4rem;
}

.section-1 {
    height: calc(100vh - 10vh);
    text-align: center;
    transform: translate(0%, 25%);
    margin: 0 auto;
}

.small p {
    font-size: 10px;
    font-weight: 700;
}

.capital h1 {
    font-family: 'PT Serif Caption', serif;
    font-size: 5rem;
    letter-spacing: -5px;
   
}

.capital h2 {
    font-family: 'PT Serif Caption', serif;
}

.italics h2 {
    font-size: 5rem;
    font-weight: lighter;
}

.italics p {
    font-size: xx-large;
    letter-spacing: -3px;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: x-large;
}

.rot-img img {
    background-color: rgb(41, 41, 53);
    border-radius: 70%;
    width: 180px;
    transform: rotate(90deg);
  
}

.menubar {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 209, 209);
    display: none;
    z-index: 8;
    transition: all 3s;
    animation: slide 1.5s ease-in-out backwards;
}

.menubar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
   
}

.cancel {
    width: 30px;
    height: 100px;
    margin-top: 30px;
    position: absolute;
    left: 420px;
    cursor: pointer;
}

.part-1{
    width: 100%;
    height: 2px;
    background-color: black;
    transform: rotate(44deg);
}

.part-2 {
    width: 100%;
    height: 2px;
    background-color: black;
    transform: rotate(316deg);
}

ul {
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 70px; 
    line-height: 90px;
}
.links a {
    color: black;
    font-family: 'PT Serif Caption', serif;
}

.social {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -10px;
}

.social a {
    font-size: 40px;
    position: relative;
    top: 500px;
    padding: 0 25px;
}

.section-3 {
    text-align: center;
    margin-top: 30vh;
}

.section-3 h1 {
    width: 100%;
    font-size: 20rem;
    animation: slee 15s linear infinite forwards;
}

@keyframes slide {
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slee {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
